$background-colour:#09103b;
$text-colour:rgba(240, 144, 0, 0.8);
$tile-text-size: 180%;
$hidden-text-size: 100%;
$heading-text-size: 200%;
$sub-heading-text-size: 180%;
$background-2:rgba(240, 240, 240, 0.1);
$background-3:rgba(240, 144, 0, 0.6);
$section__container_width: 65%;
$normal-text-font-size: 140%;
$min-height-pixels: 640px;
$min-width-pixels: 330px;