@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
section.grid-background {
  padding-bottom: 250px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(11, minmax(40px));
  grid-template-rows: repeat(6, minmax(40px));
  background-color: #09103b;
}

section.landing {
  min-width: 330px;
  min-height: 640px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #09103b;
}
section.landing a {
  text-decoration: none;
  color: rgba(240, 144, 0, 0.6);
}
section.landing div.tile {
  flex-shrink: 0;
  margin: 1px;
  font-size: 180%;
  font-family: "Montserrat", sans-serif;
  color: rgba(240, 144, 0, 0.8);
  align-self: stretch;
  justify-self: stretch;
  text-align: center;
  border-radius: 3px;
  width: 40px;
  min-width: 20px;
  min-height: 20px;
  height: 40px;
  box-shadow: 3px 3px rgba(240, 144, 0, 0.6);
  border: 1px solid rgba(240, 144, 0, 0.8);
}
@keyframes hiddenText {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
section.landing div.hidden {
  font-size: 100%;
  margin-bottom: 12px;
  margin-left: -1px;
  animation-name: hiddenText;
  animation-duration: 15s;
  animation-fill-mode: both;
  border: 1px solid grey;
  color: grey;
}
section.landing div.hidden:hover {
  background-color: rgba(240, 144, 0, 0.7);
}
section.landing div.dropdown:hover .hidden {
  font-size: 100%;
  animation-direction: reverse;
  transition-timing-function: ease;
  animation-duration: 25s;
}
section.landing div.link:hover {
  opacity: 1;
  background-color: rgba(240, 144, 0, 0.7);
  color: #09103b;
}
section.landing .link__letter {
  margin-bottom: 17px;
}

.J {
  grid-column: 5;
  grid-row: 1;
}

.O1 {
  grid-column: 5;
  grid-row: 2;
}

.E {
  grid-column: 5;
  grid-row: 3;
}

.C {
  grid-column: 1;
  grid-row: 3;
}

.A1 {
  grid-column: 2;
  grid-row: 3;
}

.L1 {
  grid-column: 3;
  grid-row: 3;
}

.L2 {
  grid-column: 4;
  grid-row: 3;
}

.Y {
  grid-column: 6;
  grid-row: 3;
}

.A2 {
  grid-column: 7;
  grid-row: 3;
}

.D {
  grid-column: 3;
  grid-row: 5;
}

.E2 {
  grid-column: 4;
  grid-row: 5;
}

.V {
  grid-column: 5;
  grid-row: 5;
}

.E3 {
  grid-column: 6;
  grid-row: 5;
}

.L3 {
  grid-column: 7;
  grid-row: 5;
}

.O2 {
  grid-column: 8;
  grid-row: 5;
}

.P {
  grid-column: 9;
  grid-row: 5;
}

.E4 {
  grid-column: 10;
  grid-row: 5;
}

.R {
  grid-column: 11;
  grid-row: 5;
}

.W {
  grid-column: 10;
  grid-row: 4;
}

.B {
  grid-column: 10;
  grid-row: 6;
}

section.projects {
  min-width: 330px;
  min-height: 640px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 144, 0, 0.8);
  color: #09103b;
}
section.projects a {
  text-decoration: none;
  color: #09103b;
}
section.projects .projects__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  height: 75%;
  max-height: 680px;
  width: 65%;
  overflow-x: scroll;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgba(240, 240, 240, 0.1);
  border: 3px solid #09103b;
  border-radius: 10px;
}
section.projects .projects__container .project__detail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 50px;
  width: 225px;
  min-width: 190px;
  height: 500px;
}
section.projects .projects__container .project__detail img.project__detail__image {
  margin: 1px;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px #666;
}
section.projects .projects__container .project__detail img.project__detail__image:hover {
  opacity: 0.8;
}
section.projects .projects__container .project__detail img.project__detail__image:active {
  opacity: 0.8;
  box-shadow: 1px 1px #666;
  transform: translateY(3px);
  transform: translatex(3px);
}
section.projects .projects__container .project__detail h1 {
  white-space: normal;
  width: 200px;
  text-align: center;
}
section.projects .projects__container .project__detail .project__detail__text__git {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
}
section.projects .projects__container .project__detail i {
  font-size: 150%;
}
section.projects .projects__container .project__detail p {
  white-space: normal;
  margin: 5px;
  text-align: justify;
}