//scss 7-1 architectture

@import './sass/main.module.scss';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font;
}

.section__title {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: $heading-text-size;

    div {
        padding: 15px;
    }

    i {
        box-shadow: 2px 2px #666;
        padding: 5px;
        margin: 5px;
        font-size: 60%;


        &:active {
            box-shadow: 1px 1px #666;
            transform: translateY(1px);
            transform: translatex(1px);
        }
    }
}
//this is a dummy element so the alignment of each section
.right__bar {
    width: 10%;
    height: 100%;
}


//media query for mobile 
            @media (max-width: 600px), (max-height: 700px){
                section.grid-background {
                    transform: scale(0.6);
                }

                .section__title {
                    font-size: 120%;


                }

                .projects {
                    .projects__container {
                        .project__detail {
                            margin: 15px !important;

                        }
                    }
                }
                    .about {
                        .about__container{
                            font-size: 65%;
                        }
                }
                .contact {
                    .contact__container {
                        font-size: 65%;

                    }
                }       
        }
