@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font: 'Montserrat',
sans-serif;
$background-colour:#09103b;
$text-colour:rgba(240, 144, 0, 0.8);
$tile-text-size: 180%;
$hidden-text-size: 100%;
$heading-text-size: 300%;
$sub-heading-text-size: 220%;
$background-2:rgba(240, 240, 240, 0.1);
$background-3:rgba(240, 144, 0, 0.6);
$section__container_width: 65%;
$normal-text-font-size: 160%;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font;
}

.section__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 3%;
    z-index: 1;
    font-size: $heading-text-size;

    i {
        box-shadow: 2px 2px #666;
        margin-bottom: 25%;
        font-size: 60%;


        &:active {
            box-shadow: 1px 1px #666;
            transform: translateY(1px);
            transform: translatex(1px);
        }
    }
}

section.grid-background {
    padding-bottom: 250px;
    min-width: 360px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(11, minmax(40px));
    grid-template-rows: repeat(6, minmax(40px));
    background-color: $background-colour;
}

section.landing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    width: 100%;
    height: 100%;
    background-color: $background-colour;


    a {
        text-decoration: none;
        color: $background-3;
    }

    div.tile {
        flex-shrink: 0;
        margin: 1px;
        font-size: $tile-text-size;
        font-family: $font;
        color: $text-colour;
        align-self: stretch;
        justify-self: stretch;
        text-align: center;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        box-shadow: 3px 3px $background-3;
        border: 1px solid $text-colour;

    }

    @keyframes hiddenText {
        0% {
            opacity: 1
        }

        100% {
            opacity: 0.0
        }
    }

    div.hidden {
        font-size: $hidden-text-size;
        margin-bottom: 12px;
        margin-left: -1px;
        animation-name: hiddenText;
        animation-duration: 15s;
        animation-fill-mode: both;
        border: 1px solid grey;
        color: grey;

        &:hover {
            background-color: rgba(240, 144, 0, 0.7);
        }
    }

    div.dropdown:hover .hidden {
        font-size: $hidden-text-size;
        animation-direction: reverse;
        transition-timing-function: ease;
        animation-duration: 25s;

    }

    div.link:hover {
        opacity: 1;
        background-color: rgba(240, 144, 0, 0.7);
        color: $background-colour;
    }

    .link__letter {
        margin-bottom: 17px;

    }
}

section.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 700px;
    background-color: $text-colour;
    color: $background-colour;

    a {
        text-decoration: none;
        color: $background-colour;
    }

    .projects__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-shrink: 0;
        height: 75%;
        max-height: 680px;
        width: $section__container_width;
        overflow-x: scroll;
        overflow: hidden;
        white-space: nowrap;
        background-color: $background-2;
        border: 3px solid $background-colour;

        .project__detail {
            padding: 1% 10% 2% 10%;
            height: 500px;
            width: 250px;
            min-width: 200px;


            img.project__detail__image {
                margin: 5%;
                width: 100%;
                height: 70%;
                box-shadow: 5px 5px #666;
            }

            // create hover and shadow effects
            img.project__detail__image:hover {
                opacity: 0.8;
            }

            img.project__detail__image:active {
                opacity: 0.8;
                box-shadow: 1px 1px #666;
                transform: translateY(3px);
                transform: translatex(3px);
            }

            h1 {
                white-space: normal;
                width: 200px;
                margin: 5%;
                text-align: center;

            }

            .project__detail__text__git {
                display: flex;
                flex-direction: row;

            }

            i {
                padding: 3%;
                font-size: 200%;

            }

            p {
                white-space: normal;
                width: 200px;
                margin: 2%;
                text-align: justify;

            }
        }
    }
}


section.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    min-height: 600px;
    width: 100%;
    height: 100%;
    background-color: $background-colour;
    color: $text-colour;

    a {
        text-decoration: none;
        color: $text-colour;
    }

    h1 {
        border-bottom: 3px solid $text-colour;
        font-size: $sub-heading-text-size;
    }

    .about__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: $section__container_width;
        margin-bottom: 1%;

        .about__container__bio {
            width: 75%;
            border: 3px solid $text-colour;
            width: 80%;
            height: 40%;
            background-color: $background-2;


            .about__container__bio__text {
                font-size: $normal-text-font-size;
                margin: 4%;
                text-align: center;

            }

            //media query for mobile 
            @media (max-width: 700px) {
                .about__container__bio__text {
                    font-size: 100%;
                }
            }
        }

        .about__container__hobbies {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 20%;
            border: 3px solid $text-colour;
            background-color: $background-2;


            li {
                font-size: $normal-text-font-size;
                list-style-type: none;
                margin: 2%;
            }

            @media (max-width: 700px) {
                li {
                    font-size: 120%;
                }
            }
        }

        i {
            font-size: 200%;
            margin: 0%;

            &:hover {
                transform: scale(1.2);
                transition-duration: 0.2s;
            }
        }
    }
}

section.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-height: 600px;
    height: 100%;
    background-color: $text-colour;
    color: $background-colour;


    a {
        text-decoration: none;
        color: $background-colour;
    }


    h1 {
        border-bottom: 3px solid $background-colour;
        font-size: $sub-heading-text-size;

    }

    .contact__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: space-evenly;
        height: 100%;
        width: $section__container_width;

        i {
            font-size: 120%;
            margin: 5%;

            &:hover {
                transform: scale(1.2);
                transition-duration: 0.5s;
            }
        }


        .contact__container__fontawesome {
            height: 50%;
            width: 80%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            font-size: $sub-heading-text-size;
            border: 3px solid $background-colour;
            background-color: $background-2;

        }

        .contact__container__getintouch {
            height: 40%;
            width: 80%;
            margin-bottom: 2%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            font-size: $sub-heading-text-size;
            border: 3px solid $background-colour;
            background-color: $background-2;

        }
    }
}

// media query for mobile 

// @media (max-width: 800px) {
//     section.grid-background {
//         transform: scale(0.9);
//         font-size: 80%;
//     }
// }

//THESE STYLEs ARE FOR THE LANDING PAGE

.J {
    grid-column: 5;
    grid-row: 1;
}

.O1 {
    grid-column: 5;
    grid-row: 2;
}

.E {
    grid-column: 5;
    grid-row: 3;
}

.C {
    grid-column: 1;
    grid-row: 3;
}

.A1 {
    grid-column: 2;
    grid-row: 3;
}

.L1 {
    grid-column: 3;
    grid-row: 3;
}

.L2 {
    grid-column: 4;
    grid-row: 3;
}

.Y {
    grid-column: 6;
    grid-row: 3;
}

;

.A2 {
    grid-column: 7;
    grid-row: 3;
}

;

.D {
    grid-column: 3;
    grid-row: 5;
}

;

.E2 {
    grid-column: 4;
    grid-row: 5;
}

;

.V {
    grid-column: 5;
    grid-row: 5;
}

;

.E3 {
    grid-column: 6;
    grid-row: 5;
}

;

.L3 {
    grid-column: 7;
    grid-row: 5;
}

;

.O2 {
    grid-column: 8;
    grid-row: 5;
}

;

.P {
    grid-column: 9;
    grid-row: 5;
}

;

.E4 {
    grid-column: 10;
    grid-row: 5;
}

;

.R {
    grid-column: 11;
    grid-row: 5;
}

;

.W {
    grid-column: 10;
    grid-row: 4;
}

;

.B {
    grid-column: 10;
    grid-row: 6;
}