@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.section__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 3%;
  z-index: 1;
  font-size: 300%;
}
.section__title i {
  box-shadow: 2px 2px #666;
  margin-bottom: 25%;
  font-size: 60%;
}
.section__title i:active {
  box-shadow: 1px 1px #666;
  transform: translateY(1px);
  transform: translatex(1px);
}

section.grid-background {
  padding-top: 6%;
  width: 100%;
  height: 85%;
  display: grid;
  grid-template-columns: repeat(11, minmax(30px, 60px));
  grid-template-rows: repeat(6, minmax(30px, 60px));
  grid-gap: 0.5%;
  background-color: #09103b;
  justify-content: center;
  align-content: top;
}

section.landing {
  display: inline-block;
  min-height: 600px;
  width: 100%;
  height: 100%;
  background-color: #09103b;
}
section.landing a {
  text-decoration: none;
  color: rgba(240, 144, 0, 0.6);
}

section.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 144, 0, 0.8);
  color: #09103b;
}
section.projects a {
  text-decoration: none;
  color: #09103b;
}
section.projects .projects__container {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  flex-shrink: 0;
  height: 75%;
  min-height: 600px;
  width: 65%;
  overflow-x: scroll;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgba(240, 240, 240, 0.1);
  border: 3px solid #09103b;
}
section.projects .projects__container .project__detail {
  padding: 10%;
  height: 500px;
  width: 250px;
  min-width: 200px;
}
section.projects .projects__container .project__detail img.project__detail__image {
  width: 100%;
  height: 70%;
  box-shadow: 5px 5px #666;
}
section.projects .projects__container .project__detail img.project__detail__image:hover {
  opacity: 0.8;
}
section.projects .projects__container .project__detail img.project__detail__image:active {
  opacity: 0.8;
  box-shadow: 1px 1px #666;
  transform: translateY(3px);
  transform: translatex(3px);
}
section.projects .projects__container .project__detail h1 {
  white-space: normal;
  width: 200px;
  margin: 5%;
}
section.projects .projects__container .project__detail p {
  white-space: normal;
  width: 200px;
  font-size: 100%;
  margin: 1%;
}

section.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  min-height: 600px;
  width: 100%;
  height: 100%;
  background-color: #09103b;
  color: rgba(240, 144, 0, 0.8);
}
section.about a {
  text-decoration: none;
  color: rgba(240, 144, 0, 0.8);
}
section.about h1 {
  border-bottom: 3px solid rgba(240, 144, 0, 0.8);
  font-size: 220%;
  margin: 2%;
  text-align: center;
}
section.about .about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 65%;
  margin-bottom: 1%;
}
section.about .about__container .about__container__bio {
  width: 75%;
  border: 3px solid rgba(240, 144, 0, 0.8);
  width: 80%;
  height: 40%;
}
section.about .about__container .about__container__bio .about__container__bio__text {
  font-size: 160%;
  margin: 4%;
  text-align: center;
}
@media (max-width: 700px) {
  section.about .about__container .about__container__bio .about__container__bio__text {
    font-size: 100%;
  }
}
section.about .about__container .about__container__hobbies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 20%;
  border: 3px solid rgba(240, 144, 0, 0.8);
}
section.about .about__container .about__container__hobbies li {
  font-size: 160%;
  list-style-type: none;
  margin: 2%;
}
@media (max-width: 700px) {
  section.about .about__container .about__container__hobbies li {
    font-size: 120%;
  }
}
section.about .about__container i {
  font-size: 200%;
  margin: 0%;
}
section.about .about__container i:hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
}

section.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 600px;
  height: 100%;
  background-color: rgba(240, 144, 0, 0.8);
  color: #09103b;
}
section.contact a {
  text-decoration: none;
  color: #09103b;
}
section.contact h1 {
  border-bottom: 3px solid #09103b;
  font-size: 220%;
}
section.contact .contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-evenly;
  height: 100%;
  width: 65%;
}
section.contact .contact__container i {
  font-size: 120%;
  margin: 5%;
}
section.contact .contact__container i:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}
section.contact .contact__container .contact__container__fontawesome {
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 220%;
  border: 3px solid #09103b;
}
section.contact .contact__container .contact__container__getintouch {
  height: 40%;
  width: 90%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 300%;
}

@media (max-width: 800px) {
  section.grid-background {
    transform: scale(0.9);
    font-size: 80%;
  }
}
div.tile {
  flex-shrink: 0;
  padding: 0.5%;
  font-size: 220%;
  font-family: "Montserrat", sans-serif;
  border: 0.2rem solid rgba(240, 144, 0, 0.8);
  color: rgba(240, 144, 0, 0.8);
  align-self: stretch;
  justify-self: stretch;
  text-align: center;
  border-radius: 5%;
  width: 80%;
  height: 80%;
}

@keyframes hiddenText {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.1;
  }
}
div.hidden {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 110%;
  margin-bottom: 20%;
  margin-left: -7%;
  animation-name: hiddenText;
  animation-duration: 10s;
  animation-fill-mode: both;
  border: 0.2rem solid grey;
  color: grey;
}
div.hidden:hover {
  background-color: rgba(240, 144, 0, 0.7);
}

div.dropdown:hover .hidden {
  font-size: 110%;
  animation-direction: reverse;
}

div.link:hover {
  opacity: 1;
  background-color: rgba(240, 144, 0, 0.7);
  color: #09103b;
}

.link__letter {
  margin-bottom: 42%;
}

.J {
  grid-column: 5;
  grid-row: 1;
}

.O1 {
  grid-column: 5;
  grid-row: 2;
}

.E {
  grid-column: 5;
  grid-row: 3;
}

.C {
  grid-column: 1;
  grid-row: 3;
}

.A1 {
  grid-column: 2;
  grid-row: 3;
}

.L1 {
  grid-column: 3;
  grid-row: 3;
}

.L2 {
  grid-column: 4;
  grid-row: 3;
}

.Y {
  grid-column: 6;
  grid-row: 3;
}

.A2 {
  grid-column: 7;
  grid-row: 3;
}

.D {
  grid-column: 3;
  grid-row: 5;
}

.E2 {
  grid-column: 4;
  grid-row: 5;
}

.V {
  grid-column: 5;
  grid-row: 5;
}

.E3 {
  grid-column: 6;
  grid-row: 5;
}

.L3 {
  grid-column: 7;
  grid-row: 5;
}

.O2 {
  grid-column: 8;
  grid-row: 5;
}

.P {
  grid-column: 9;
  grid-row: 5;
}

.E4 {
  grid-column: 10;
  grid-row: 5;
}

.R {
  grid-column: 11;
  grid-row: 5;
}

.W {
  grid-column: 10;
  grid-row: 4;
}

.B {
  grid-column: 10;
  grid-row: 6;
}