@import '../abstracts/variables';


section.projects {
    min-width: $min-width-pixels;
    min-height: $min-height-pixels;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $text-colour;
    color: $background-colour;

    a {
        text-decoration: none;
        color: $background-colour;
    }

    .projects__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-shrink: 0;
        height: 75%;
        max-height: 680px;
        width: $section__container_width;
        overflow-x: scroll;
        overflow: hidden;
        white-space: nowrap;
        background-color: $background-2;
        border: 3px solid $background-colour;
        border-radius: 10px;


        .project__detail {

            margin: 50px;
            width: 225px;
            min-width: 190px;
            height: 500px;

            img.project__detail__image {
                margin: 1px;
                width: 100%;
                height: 300px;
                border-radius: 10px;

                box-shadow: 5px 5px #666;
            }

            // create hover and shadow effects
            img.project__detail__image:hover {
                opacity: 0.8;
            }

            img.project__detail__image:active {
                opacity: 0.8;
                box-shadow: 1px 1px #666;
                transform: translateY(3px);
                transform: translatex(3px);
            }

            h1 {
                white-space: normal;
                width: 200px;
                text-align: center;

            }

            .project__detail__text__git {
                display: flex;
                flex-direction: row;
                align-items:center;
                height: 60px;

            }

            i {
                font-size: 150%;

            }

            p {
                white-space: normal;
                margin-bottom: 1rem;;

            }
        }
    }
}
